<!DOCTYPE html>
<html lang="en" ng-app="app1">
  <head>
      <title>Bella Lash</title>

      <link rel="stylesheet" href="./bootstrap/css/bootstrap-flex.css">
      <link rel="stylesheet" href="./bootstrap/css/bootstrap-grid.css">
      <link rel="stylesheet" href="./bootstrap/css/bootstrap-reboot.css">
      <link rel="stylesheet" href="./bootstrap/css/bootstrap.css">
      <!-- <link rel="stylesheet" href="./styles/master.css"> -->
  </head>
  <body ng-controller="controller">
    <div class="container-fluide">
      <nav class="navbar navbar-light bg-faded navbar-fixed-top" style="background-color: #ECEEEF;">
        <a class="navbar-brand" href="#">
          <img src="https://bellalash.com/skin/frontend/smartwave/legenda/images/New-Logos1.png" width="100" height="30" alt="">
        </a>
      </nav>
  </div>

    <div class="jumbotron">
        <h1 class="display-4 text-xs-center">Write a program that finds the largest of 3 given numbers!</h1>
        <hr class="my-2 ">
        <p class="text-xs-center">This Program uses Anguar, JavaScript, Bootstrap, CSS, HTML. Enjoy!</p>
        <p class="lead text-xs-center">
          <a class="btn btn-primary btn-lg" href="https://michael-call.com/" role="button">About Michael Call</a>
        </p>
    </div>

    <h1>Numbers Given in this Program</h1>
      <div class="container-fluid" ng-repeat="n in num">
        <div class="row">
          <div class="col-sm-12 text-xs-left">
              {{n}}
          </div>
        </div>
      </div>
    <h1>What is the Biggest Number</h1>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-xs-left">
            <button  ng-click="findLargestNumber()" type="button" class="btn btn-primary">Find Largest Number</button>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-xs-center display-1" >
            {{largest}}
          </div>
        </div>
      </div>

      <div class="jumbotron">
          <h1 class="display-4 text-xs-center">Code!</h1>
          <hr class="my-2 ">
          <p class="text-xs-center">
            var array = [ 1, 20000, 4000 ]
          </p>
          <p class="text-xs-center">
              function finder(array ) {
          </p>
          <p class="text-xs-center">
                for (var i = 0; i < array.length; i++) {
          </p>
          <p class="text-xs-center">
              if (array[i] > largest) {
          </p>
          <p class="text-xs-center">
              largest = array[i];
          </p>
          <p class="text-xs-center">
                }
              }
                return largest
            }
          </p>
      </div>




    <!--ADD ALL YOUR SCRIPTS HERE -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="./js/app.js" charset="utf-8"></script>
    <script src="./js/controller.js" charset="utf-8"></script>
    <script src="./js/service.js" charset="utf-8"></script>
  </body>
</html>
